In [4]:
from imports import *
from sklearn.model_selection  import train_test_split

In [5]:
query = "select * from cleaned_application_ml"
app_data = sql_connect(query)
app_data.head()

Connection to SQL Server established successfully.
Connection closed.

,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,OWN_CAR_AGE,FLAG_MOBIL,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_CONT_MOBILE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,LIVE_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,ORGANIZATION_TYPE,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,FLAG_DOCUMENT_2,FLAG_DOCUMENT_3,FLAG_DOCUMENT_4,FLAG_DOCUMENT_5,FLAG_DOCUMENT_6,FLAG_DOCUMENT_7,FLAG_DOCUMENT_8,FLAG_DOCUMENT_9,FLAG_DOCUMENT_10,FLAG_DOCUMENT_11,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR,AVERAGE_EXTERNAL_RATING,TOT_PREV_APP,PREV_APPROVED_CNT,PREV_CANCELLED_CNT,PREV_REFUSED_CNT,PREV_UNUSED_CNT,ISMISSING_BUREAU_INFO
0,0,Cash loans,M,1,1,1,310500.0,592560.0,40216.5,450000.0,"Spouse, partner",Working,Secondary / secondary special,Married,House / apartment,0.046220,-13858,-430,-3777.0,-3911.0,1,1,1,0,1,0,0,Drivers,3,1,1,TUESDAY,14,0,0,0,1,1,0,Business Entity Type 3,5,0,5,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0,0.5760,0,0,0,0,0,0
1,0,Cash loans,F,0,1,0,112500.0,808650.0,26086.5,675000.0,Unaccompanied,Working,Secondary / secondary special,Civil marriage,House / apartment,0.020713,-16351,-634,-5438.0,-4907.0,-1,1,1,1,1,0,0,Laborers,2,3,3,WEDNESDAY,6,0,0,0,0,0,0,Business Entity Type 3,3,0,3,0,-1007,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0,0.4327,0,0,0,0,0,0
2,0,Cash loans,F,1,1,2,135000.0,675000.0,24799.5,675000.0,Unaccompanied,Working,Higher education,Married,House / apartment,0.028663,-9973,-730,-256.0,-2602.0,0,1,1,0,1,0,0,Core staff,4,2,2,MONDAY,14,0,0,0,0,0,0,Bank,5,2,5,1,-1733,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0,0.4652,0,0,0,0,0,0
3,0,Cash loans,F,0,1,0,117000.0,1113840.0,47322.0,900000.0,"Spouse, partner",Pensioner,Secondary / secondary special,Married,House / apartment,0.008474,-19157,365243,-4406.0,-2689.0,-1,1,0,0,1,0,0,Retired,2,2,2,FRIDAY,11,0,0,0,0,0,0,NA,4,0,4,0,-1169,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.5850,0,0,0,0,0,0
4,0,Cash loans,F,0,1,0,225000.0,552555.0,43785.0,477000.0,Unaccompanied,Commercial associate,Higher education,Single / not married,House / apartment,0.014464,-10212,-489,-954.0,-2892.0,-1,1,1,0,1,0,0,Managers,1,2,2,THURSDAY,3,0,0,0,0,0,0,Trade: type 7,2,2,2,1,-649,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.6350,2,1,0,1,0,1

In [6]:
X = app_data.drop(columns=['TARGET'])
y = app_data['TARGET']

In [7]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [12]:
train_data = pd.concat([y_train, X_train], axis=1)
test_data = pd.concat([y_test, X_test], axis=1)

In [13]:
engine = write_sql_conn_create()
train_data.to_sql('train_data', engine, if_exists='replace', index=False)

Connection to SQL Server established successfully.

10

In [14]:
test_data.to_sql('test_data', engine, if_exists='replace', index=False)

16